{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="posts-container">
    <div class="flex-conn">
        <h1 id="h1_post">POSTS</h1>
        <small id="small_post"><a href="">View All</a></small>
    </div>
    <ul class="posts-slider">
        <li class="posts-slider__post">
            <div class="posts-slider__content">
                <h1>Post title here</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui unde quo quae aspernatur adipisci odio maxime eius praesentium voluptatibus debitis consequatur, voluptates aliquam tempora est.</p>
                <button>Read More</button>
            </div>
        </li>
        <li class="posts-slider__post">
            <div class="posts-slider__content">
                <h1>Post title here</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui unde quo quae aspernatur adipisci odio maxime eius praesentium voluptatibus debitis consequatur, voluptates aliquam tempora est.</p>
                <button>Read More</button>
            </div>
        </li>
        <li class="posts-slider__post">
            <div class="posts-slider__content">
                <h1>Post title here</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui unde quo quae aspernatur adipisci odio maxime eius praesentium voluptatibus debitis consequatur, voluptates aliquam tempora est.</p>
                <button>Read More</button>
            </div>
        </li>
    </ul>
</div>

<div class="projects">
    <div class="projects__heading">
        <h1>What Am I Working On?</h1>
    </div>
    <div class="projects__featured">
        <h1><a href="#">Toko</a></h1>
        <p style="line-height: 30px;" class="grad-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rerum atque aut cum pariatur fugit qui, labore minima cumque asperiores suscipit non vitae illo deleniti soluta, aliquam veniam inventore minus.</p>
        <button class="read-more">Read More</button>
    </div>
    <div class="projects__sub projects__first">
        <p class="grad-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ratione laudantium nihil ex ipsa. Voluptatibus corporis odio adipisci unde molestias ea dolores non delectus expedita?</p>
    </div>
    <div class="projects__sub projects__second">
        <p class="grad-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto vero quasi quisquam sapiente officiis delectus, doloribus illum ipsum repudiandae accusantium dignissimos ducimus impedit voluptatibus velit dolores aliquam eos? Hic.</p>
    </div>
</div>

<div class="hot-take">
    <div class="hot-take__text">
        <p class="hot-take__subhead">Weekly Political Segment</p>
        <h1 class="hot-take__heading">Hot Takes</h1>
        <p>
            A semi weekly segment where I talk talk about politics and other hot issues.
            It won’t be a consistent, some articles will be heavily opinionated, some won’t be.
            I am a boring conservative, so there most likely will be very few “extreme” opinions.
        </p>
    </div>
    <div class="hot-take__latest">
        <h1><a href="#">Post title here</a></h1>
        <p class="grad-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit et sunt cumque officiis veniam est quibusdam nobis placeat voluptatem dolore! Cupiditate reiciendis beatae minus, fugiat nemo voluptatum recusandae blanditiis numquam quae excepturi, doloribus cumque quia maiores quam accusamus aliquam provident!</p>
        <button class="read-more">Read More</button>
    </div>
</div>

{% endblock %}