{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="take">
    <div class="take__container">
        <div class="take__heading">
            {% if take.opinion == True %}
                <div style="margin: 10px 0" class="alert--warning">
                    <p>This is an opinionated hot take</p>
                </div>
            {% endif %}
            <h1>{{ take.title }}</h1>
            <p style="margin-top: 5px">Written by {{ take.author }} &middot; Published {{ take.timestamp|date:"F d Y" }}</p>
        </div>
        <div class="take__body">
            <p style="margin-top: 30px;">{{ take.content|safe }}</p>
        </div>
        <div style="text-align: center; display: flex; justify-content: center; margin-top: 20px;" class="post__icons">
            <a href="index" data-feather="link"></a>
        </div>
    </div>
    <div class="take__sources">
        <h2 style="margin: 10px 0">Sources</h2>
        {% for source in sources %}
        <div class="take__source">
            <p><a href="https://{{ source.link }}" target="_blank">{{ source.link }}</a></p>
        </div>
        {% endfor %}
    </div>
    <div class="take__related">
        <h2 style="margin-bottom: 15px;">Related stories for you</h2>
        {% for random in random %}
        <div class="take__related-modal">
            <h1 style="font-size: 1.4em;"><a style="color: black;" href="{% url 'core:take' slug=random.slug %}">{{ random.title }}</a></h1>
            <small>{{ random.author }}</small>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}