@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import 'buttons';

// VARIABLES
$link-colour: #2a8ce8;

@font-face {
    font-family: 'BikoBold';
    src: url(./Biko_Bold.otf);
    unicode-range: U+00-FF, U+980-9FF;
}
@font-face {
    font-family: 'Biko';
    src: url(./Biko_Regular.otf);
    unicode-range: U+00-FF, U+980-9FF;
}
@font-face {
    font-family: 'BikoLight';
    src: url(./Biko_Light-Restricted.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: 'Biko';
    font-weight: bolder;
     
}

.feather-icon {
    vertical-align: middle;
}

.container {
    margin: 2rem;
    // left: -50%;
    // // right: 50%;
}

.nav {
    .menu-icon {
        display: none;
    }
    vertical-align: middle;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 25% 25% auto 10%;
    // grid-template-rows: 5% 10%;
    // grid-row: 2;
    &__name {
        grid-column: 2/3;
        h1 {
            font-family: 'BikoBold';
            font-size: 1.75rem;
        }
    }
    &__items {
        grid-column: 4/5;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            position: relative;
            li {list-style: none;}
            a {
                position: relative;
                color: black;
                text-decoration: none;
                font-family: 'Biko';
                list-style: none;
                font-size: 1.2rem;
                &:hover {
                    &::before {
                        // padding: 5px;
                        animation: animateIn 0.2s forwards ease-in-out;
                        content: "";
                        bottom: 0;
                        position: absolute;
                        background: $link-colour;
                        width: 100%;
                        // height: 60%;
                        opacity: 0.3;
                        justify-items: end;
                    }
                }
            }
        }
    }
}

@keyframes animateIn {
    0% {
        height: 0%;
    }
    100% {
        height: 60%;
    }
}


.flex-conn {
    display: flex;
    justify-content: center;
    align-items: center;

}

#h1_post {
    text-align: center;
    font-family: 'BikoBold';
    // display: inline-block;
    // margin: 20px;
}
#small_post a {
    text-decoration: none;
    color: $link-colour;
    margin: {
        left: 1em;
    }
    text-align: center;
    font-family: 'BikoBold';
}
.posts-container {
    margin: {
        top: 3em;
    }
}

@media screen and (max-width: 800px) {
    .posts-slider {
        display: flex;
        flex-wrap: wrap;
    }
}

.posts-slider {
    position: relative;
    display: flex;
    list-style: none;
    // flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    // overflow-x: scroll;
    &__post {
        position: relative;
        // width: 350px; // add back maybe
        height: 230px;
        background: #ECECEC;
        border-radius: 8px;
        margin: 2em;
        padding: 40px 25px;
        // overflow: auto;
        overflow-y: hidden;
    }
    &__content {
        position: relative;
        h1 {
            margin-bottom: 5px;
        }
        p {
            background: -webkit-linear-gradient(#333,#eee);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        button {
            // position: absolute;
            margin: 0 auto;
            text-align: center;
            display: flex;
            padding: 12px 24px;
            color: white;
            font-size:15px;
            font-family: 'BikoBold';
            outline: none;
            border: none;
            border-radius: 8px;
            background:#00376b;
            justify-content: center;
            transform: translateY(-30px);
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                background: lighten(#00376b, $amount: 10);
            }
            &:focus {
                box-shadow: 0px 0px 0px 3px lighten(#00376b, $amount: 30);
            }
        }
    }
}

.projects {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 10% 35% 5% auto 10%;
    grid-template-rows: 10% 25% 5% 20% 5% 20% 250px;
    &__heading {
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 2em;
    }
    &__featured {
        grid-column: 2/3;
        grid-row: 4/7;
        background: #ECECEC;
        border-radius: 8px;
        padding: 12px;
        h1, a{
            font-size: 3rem;
            color: $link-colour;
            text-decoration: none;
        }
    }
    &__sub {
        grid-column: 4/5;
        border-radius: 8px;
        padding: 16px 8px;
        background: #ECECEC;
    }
    &__first {
        grid-row: 4/5;
    }
    &__second {
        grid-row: 6/7;
    }
}

.grad-text {
    background: -webkit-linear-gradient(#333,#eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.read-more {
    // position: absolute;
    // top: 20
    // margin: 0 auto;
    text-align: center;
    // display: flex;
    padding: 12px 24px;
    color: white;
    font-size:15px;
    font-family: 'BikoBold';
    outline: none;
    border: none;
    border-radius: 8px;
    background:#00376b;
    // justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        background: lighten(#00376b, $amount: 10);
    }
    &:focus {
        box-shadow: 0px 0px 0px 3px lighten(#00376b, $amount: 30);
    }
}

.hot-take {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 10% 35% 5% auto 10%;
    grid-template-rows: 235px 15px 25px;
    &__heading {
        margin: 20px 0;
        font-size: 2rem;
    }
    &__subhead {
        text-transform: uppercase;
    }
    p {
        font-size: 18px;
    }
    button {
        grid-row: 2/4;
        grid-column: 1;
    }
    &__text {
        grid-column: 2/3;
        grid-row: 1/3;
        line-height: 25px;
    }
    &__latest {
        h1, a {
            color: $link-colour;
            text-decoration: none;
        }
        p {
            opacity: 0.5;
        }
        grid-row: 1/3;
        grid-column: 4/5;
        background: #ECECEC;
        border-radius: 8px;
        padding: 16px;
    }
}


// MEDIA QUERIES

@media (max-width: 860px) {
    .nav {
        display: flex;
        justify-content: space-between;
        ul>li:not(.menu-icon) {
            display: none;
            // opacity: 0;
            // pointer-events: none;
        }
        .menu-icon {
            display: block;
        }
    }
    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        &__heading {
            margin: 50px 0;
            font-size: 1.7em;
        }
        &__featured {
            margin: 25px 0;
        }
        &__sub {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
        }
    }
    .hot-take {
        display: flex;
        flex-direction: column;
        &__heading {
            margin: 20px 0;
            font-size: 2rem;
        }
        &__subhead {
            text-transform: uppercase;
        }
        p {
            font-size: 18px;
        }
        button {
            grid-row: 2/4;
            grid-column: 1;
        }
        &__text {
            margin: 20px 0;
        }
        &__latest {
            p {
                opacity: 0.5;
            }
            grid-row: 1/3;
            grid-column: 4/5;
            background: #ECECEC;
            border-radius: 8px;
            padding: 16px;
        }
    }
    .posts-slider {
        position: relative;
        display: flex;
        flex-direction: column;
        list-style: none;
        // flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        // overflow-x: scroll;
        &__post {
            position: relative;
            // width: 350px; // add back maybe
            height: auto;
            background: #ECECEC;
            border-radius: 8px;
            margin: 20px 0;
            padding: 40px 25px;
            // overflow: auto;
            overflow-y: hidden;
        }
        &__content {
            position: relative;
            h1 {
                margin-bottom: 5px;
            }
            p {
                background: -webkit-linear-gradient(#333,#eee);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


@media (max-width: 1024px) {
    .posts-slider {
        &__post {
            height: auto;
        }
        &__content {
            button {
                // transform: translateY(100px);

            }
        }
    }
    .read-more {
        display: none;
    }
}