@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.btn {
  font-family: 'Questrial', sans-serif;
  vertical-align: middle;
  padding: 8px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn__primary {
  background: blue;
}

.btn__primary--dark {
  background: white;
}

.btn__link {
  background: none;
}

.btn__link--dark {
  background: none;
  color: white;
}

@font-face {
  font-family: 'BikoBold';
  src: url(./Biko_Bold.otf);
  unicode-range: U+00-FF, U+980-9FF;
}

@font-face {
  font-family: 'Biko';
  src: url(./Biko_Regular.otf);
  unicode-range: U+00-FF, U+980-9FF;
}

@font-face {
  font-family: 'BikoLight';
  src: url(./Biko_Light-Restricted.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  font-family: 'Biko';
  font-weight: bolder;
}

.feather-icon {
  vertical-align: middle;
}

.container {
  margin: 2rem;
}

.nav {
  vertical-align: middle;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% 25% auto 10%;
      grid-template-columns: 10% 25% 25% auto 10%;
}

.nav .menu-icon {
  display: none;
}

.nav__name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nav__name h1 {
  font-family: 'BikoBold';
  font-size: 1.75rem;
}

.nav__items {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.nav__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.nav__items ul li {
  list-style: none;
}

.nav__items ul a {
  position: relative;
  color: black;
  text-decoration: none;
  font-family: 'Biko';
  list-style: none;
  font-size: 1.2rem;
}

.nav__items ul a:hover::before {
  -webkit-animation: animateIn 0.2s forwards ease-in-out;
          animation: animateIn 0.2s forwards ease-in-out;
  content: "";
  bottom: 0;
  position: absolute;
  background: #2a8ce8;
  width: 100%;
  opacity: 0.3;
  justify-items: end;
}

@-webkit-keyframes animateIn {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@keyframes animateIn {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

.flex-conn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#h1_post {
  text-align: center;
  font-family: 'BikoBold';
}

#small_post a {
  text-decoration: none;
  color: #2a8ce8;
  margin-left: 1em;
  text-align: center;
  font-family: 'BikoBold';
}

.posts-container {
  margin-top: 3em;
}

@media screen and (max-width: 800px) {
  .posts-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.posts-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.posts-slider__post {
  position: relative;
  height: 230px;
  background: #ECECEC;
  border-radius: 8px;
  margin: 2em;
  padding: 40px 25px;
  overflow-y: hidden;
}

.posts-slider__content {
  position: relative;
}

.posts-slider__content h1 {
  margin-bottom: 5px;
}

.posts-slider__content p {
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.posts-slider__content button {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  color: white;
  font-size: 15px;
  font-family: 'BikoBold';
  outline: none;
  border: none;
  border-radius: 8px;
  background: #00376b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.posts-slider__content button:hover {
  background: #00519e;
}

.posts-slider__content button:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #0586ff;
          box-shadow: 0px 0px 0px 3px #0586ff;
}

.projects {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  -ms-grid-columns: 10% 35% 5% auto 10%;
      grid-template-columns: 10% 35% 5% auto 10%;
  -ms-grid-rows: 10% 25% 5% 20% 5% 20% 250px;
      grid-template-rows: 10% 25% 5% 20% 5% 20% 250px;
}

.projects__heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 2em;
}

.projects__featured {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  background: #ECECEC;
  border-radius: 8px;
  padding: 12px;
}

.projects__featured h1, .projects__featured a {
  font-size: 3rem;
  color: #2a8ce8;
  text-decoration: none;
}

.projects__sub {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  border-radius: 8px;
  padding: 16px 8px;
  background: #ECECEC;
}

.projects__first {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.projects__second {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.grad-text {
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.read-more {
  text-align: center;
  padding: 12px 24px;
  color: white;
  font-size: 15px;
  font-family: 'BikoBold';
  outline: none;
  border: none;
  border-radius: 8px;
  background: #00376b;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.read-more:hover {
  background: #00519e;
}

.read-more:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #0586ff;
          box-shadow: 0px 0px 0px 3px #0586ff;
}

.hot-take {
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 35% 5% auto 10%;
      grid-template-columns: 10% 35% 5% auto 10%;
  -ms-grid-rows: 235px 15px 25px;
      grid-template-rows: 235px 15px 25px;
}

.hot-take__heading {
  margin: 20px 0;
  font-size: 2rem;
}

.hot-take__subhead {
  text-transform: uppercase;
}

.hot-take p {
  font-size: 18px;
}

.hot-take button {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  grid-column: 1;
}

.hot-take__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  line-height: 25px;
}

.hot-take__latest {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  background: #ECECEC;
  border-radius: 8px;
  padding: 16px;
}

.hot-take__latest h1, .hot-take__latest a {
  color: #2a8ce8;
  text-decoration: none;
}

.hot-take__latest p {
  opacity: 0.5;
}

@media (max-width: 860px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav ul > li:not(.menu-icon) {
    display: none;
  }
  .nav .menu-icon {
    display: block;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .projects__heading {
    margin: 50px 0;
    font-size: 1.7em;
  }
  .projects__featured {
    margin: 25px 0;
  }
  .projects__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
  .hot-take {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hot-take__heading {
    margin: 20px 0;
    font-size: 2rem;
  }
  .hot-take__subhead {
    text-transform: uppercase;
  }
  .hot-take p {
    font-size: 18px;
  }
  .hot-take button {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .hot-take__text {
    margin: 20px 0;
  }
  .hot-take__latest {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    background: #ECECEC;
    border-radius: 8px;
    padding: 16px;
  }
  .hot-take__latest p {
    opacity: 0.5;
  }
  .posts-slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .posts-slider__post {
    position: relative;
    height: auto;
    background: #ECECEC;
    border-radius: 8px;
    margin: 20px 0;
    padding: 40px 25px;
    overflow-y: hidden;
  }
  .posts-slider__content {
    position: relative;
  }
  .posts-slider__content h1 {
    margin-bottom: 5px;
  }
  .posts-slider__content p {
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 1024px) {
  .posts-slider__post {
    height: auto;
  }
  .read-more {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */