@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import 'buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
     
}

.feather-icon {
    vertical-align: middle;
}

.container {
    margin: 2rem;
}

.nav {
    width: 100%;
   h1 {
       font-size: 8em;
       text-transform: uppercase;
       position: relative;
       opacity: 0.3;
       color: rgb(161, 161, 161);
       text-shadow: rgba(110, 110, 110, 0.363) -13px -18px;
    //    &::before {
    //        content: "SEAMUS DONNELLAN";
    //         position: absolute;
    //         opacity: 0.2;
    //         transform: translateX(-2%) translateY(-10%);
    //    }
   }
}